<div class="app-invite-block-view">
  <mat-card>
    <mat-card-content>
      <div class="row gy-4">
        <div class="col-12 col-md-7">
          <div class="app-invite-block-view__left p-4">
            <h4>
              Оставлись вопросы?<br>
              Оставьте заявку
            </h4>
            <p>
              Наш менеджер подберет для вас автомобиль! <br>
              Оставьте ваши контакты, мы свяжемся с вами для <br>
              уточнения характеристик.
            </p>
            <button mat-raised-button color="warn" class="mt-4" (click)="sendRequest()">
              Оставить заявку
            </button>
          </div>
        </div>
        <div class="col">
          <div class="app-invite-block-view__right p-4">
            <h4>Напишите нам </h4>
            <p>
              Мы обязательно <br>
              проконсультируем вас во <br>
              вашему запросу.
            </p>
            <div class="row align-items-center">
              <div class="col-auto">
                <i class="bi bi-telephone" style="font-size: 25px;"></i>
              </div>
              <div class="col">
                <div class="app-invite-block-view__number">
                  <a href="tel:88006005095">8 (800) 600-50-95</a>
                  <span class="mt-1">Звонок по РФ бесплатный</span>
                </div>
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col-auto">
                <i class="bi bi-envelope-at" style="font-size: 25px;"></i>
              </div>
              <div class="col">
                <div class="app-invite-block-view__number">
                  <a href="mailto:info@severdv.pro">info@severdv.pro</a>
                  <span class="mt-1">По любым вопросам</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
