@import "tools";

.admin-header {
  border-bottom: 1px solid $root-gray;

  &__user {
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;

  li {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: #fff;
    }
  }
}
