<div class="app-user-contact-view">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-auto">
          <img class="app-user-contact-view__img" src="assets/img/svg/map.svg" alt="sever-dv">
        </div>
        <div class="col">
          <h4>Автомобили из Японии</h4>
          <p>
            По вопросам приобретения <br>
            автомобилей
          </p>
        </div>
      </div>

      <div class="app-user-contact-view__divider my-4"></div>

      <div class="ps-3">
        <div class="row align-items-center">
          <div class="col-auto">
            <i class="bi bi-telephone" style="font-size: 25px;"></i>
          </div>
          <div class="col">
            <div class="app-user-contact-view__number">
              <a href="tel:88006005095">8 (800) 600-50-95</a>
              <span class="mt-1">Звонок по РФ бесплатный</span>
            </div>
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col-auto">
            <i class="bi bi-envelope-at" style="font-size: 25px;"></i>
          </div>
          <div class="col">
            <div class="app-user-contact-view__number">
              <a href="mailto:info@severdv.pro">info@severdv.pro</a>
              <span class="mt-1">По любым вопросам</span>
            </div>
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col-auto">
            <i class="bi bi-whatsapp" style="font-size: 25px;"></i>
          </div>
          <div class="col">
            <div class="app-user-contact-view__number">
              <a href="mailto:info@severdv.pro">info@severdv.pro</a>
              <span class="mt-1">По любым вопросам</span>
            </div>
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col-auto">
            <i class="bi bi-telegram" style="font-size: 25px;"></i>
          </div>
          <div class="col">
            <div class="app-user-contact-view__number">
              <a href="mailto:info@severdv.pro">info@severdv.pro</a>
              <span class="mt-1">По любым вопросам</span>
            </div>
          </div>
        </div>
      </div>

      <div class="app-user-contact-view__divider my-4"></div>

      <div class="row">
        <div class="app-user-contact-view__download col-12">
          <i class="bi bi-download me-3"></i>
          <a href="">Товарный знак</a>
        </div>
        <div class="app-user-contact-view__download col-12 mt-2">
          <i class="bi bi-download me-3"></i>
          <a href="">Реквизиты компании</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
