<div class="container">
  <app-breadcrumbs active="Калькулятор"></app-breadcrumbs>
  <h1 class="my-5">Калькулятор полной пошлины</h1>

  <mat-card class="mb-5">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <h4>Характеристики автомобиля</h4>
          <mat-form-field class="w-100">
            <mat-label>Аукционная стоимость автомобиля</mat-label>
            <input type="tel" matInput>
            <mat-icon matSuffix>
              <i class="bi bi-currency-yen"></i>
            </mat-icon>
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Объём</mat-label>
            <input type="tel" matInput>
            <mat-icon matSuffix>
             сс
            </mat-icon>
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Мощность</mat-label>
            <input type="tel" matInput>
            <mat-icon matSuffix>
              л.с.
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="col">
          <h4>Тип двигателя</h4>
          <mat-radio-group class="d-flex flex-column">
            <mat-radio-button class="example-radio-button" [value]="1">
              Бензин
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="1">
              Дизель
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="1">
              Гибрид
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="1">
              Электрический
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col">
          <h4>Возраст</h4>
          <mat-radio-group class="d-flex flex-column">
            <mat-radio-button class="example-radio-button" [value]="1">
              Младше 3-х лет
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="1">
              3-5 лет
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="1">
              5-7 лет
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="1">
              Старше 7 лет
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-auto" *ngIf="currRate$ | async as currRate">
          <div class="currency">
            <span>{{currRate.JPYRUB | currency:'₽'}}</span>
            <span>₽/¥</span>
            <span>{{dateTime | date:'dd.MM.yyyy. HH:mm:ss'}}</span>
          </div>
          <div class="divider my-3"></div>
          <div class="currency">
            <span>{{currRate.USDRUB | currency:'₽'}}</span>
            <span>₽/$</span>
            <span>{{dateTime | date:'dd.MM.yyyy. HH:mm:ss'}}</span>
          </div>
          <div class="divider my-3"></div>
          <div class="currency">
            <span>{{currRate.EURRUB | currency:'₽'}}</span>
            <span>₽/€</span>
            <span>{{dateTime | date:'dd.MM.yyyy. HH:mm:ss'}}</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <app-invite-block-view></app-invite-block-view>
</div>
