<div class="container">
  <app-breadcrumbs active="Услуги"></app-breadcrumbs>
  <h1 class="my-5">Привезти авто под полную пошлину</h1>
  <mat-card class="mb-5">
    <mat-card-content>
      <h2>Что такое автомобиль под "Полную пошлину"?</h2>
      <p>
        Это, прежде всего - точная и объективная информация о техническом состоянии автомобиля, реальный пробег,
        реальный
        год выпуска, указываются элементы на которых проводился ремонт, гарантия на 100%, что машина не находится в
        угоне,
        что она не распил/двойник.
      </p>
      <p>
        Так же важна процедура покупки автомобиля. Все, что от Вас требуется - указать параметры желаемой модели:
        цвет,
        марку, комплектацию, пробег, цену и т.д. Мы сами подберем Вам подходящие варианты. Но Вы и сами можете
        поучаствовать в этом интересном процессе. Вы можете осуществить покупку, не выходя из дома, сидя за
        компьютером.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-5">
    <mat-card-content>
      <h3>Качество автомобиля</h3>
      <p>
        Авто выпущенные непосредственно в Японии, по качеству сборки значительно превосходят авто аналогичных моделей,
        собранные в Европе и России. Это происходит из-за более качественных запчастей выпускаемых непосредственно в
        Японии, а не на заводах Китая и как следствие более строгой системой контроля качества на японских заводах.
        При
        покупке автомобиля с пробегом особое внимание следует уделять режиму эксплуатации машины. В Японии машины в
        большинстве случаев используют только для поездок за покупками или за город. Ездить на машине каждый день на
        работу или на учебу в Японии не принято. Транспортная система отлично развита, и в машине просто нет
        необходимости. Дороги в Японии отличные, зимы теплые, реагентов нет - поэтому машина практически не
        подвергается
        износу ни по кузову, ни по подвеске, а регулярное обслуживание только оригинальными расходными материалами в
        официальных дилерских центрах, не дает владельцу автомобиля поводов его ремонтировать и повреждения могут
        возникнуть разве что при попадании в аварию. Аварийные авто на аукционах Японии получают аукционную оценку R и
        продаются по значительно более низкой цене, даже если они были полностью восстановлены. Прозрачность и
        безопасность покупки автомобиля Покупая автомобиль на аукционе, Вы заранее знаете, что с ним происходило, был
        ли
        он в аварии, какие имеются повреждения.
      </p>
      <p>
        Аукционы Японии дорожат своей репутацией и досконально отражают состояние автомобиля в аукционном листе, чтобы
        избежать претензий со стороны будущего покупателя (исключение составляет ходовая часть автомобиля, которая на
        аукционе не проверяется).
      </p>
    </mat-card-content>
  </mat-card>


  <mat-card class="mb-5">
    <mat-card-content>
      <h3>Огромный выбор автомобилей</h3>
      <p>
        На аукционах ежедневно появляется несколько тысяч новых лотов, а дневная выборка по одной модели может
        включать до
        300 лотов. Простота покупки автомобиля. Наша компания покупает автомобили с аукционов Японии уже 13 лет. За
        это
        время процесс стал настолько отработанным, что Вам не придется столкнуться с трудностями при покупке,
        доставке,
        таможенном оформлении Вашего автомобиля.
      </p>
      <p>
        Выполнение всех этих процессов наша компания берет на себя. При покупке автомобиля с аукциона на Вашей же
        стороне
        полная осведомленность о состоянии автомобиля и его настоящем пробеге, состоянии салона и кузова. У Вас есть
        уверенность в том, что авто прослужит Вам еще долгие годы.
      </p>
      <p>
        <strong>
          Для того, чтобы оформить заявку, Вам нужно позвонить на горячую линию: 8 (800) 600-50-95 в рабочее время по
          Владивостоку (+7 часов от Москвы) и Вам дадут полную информацию о покупке, либо заполнить форму на нашем
          сайте.
        </strong>
      </p>
    </mat-card-content>
  </mat-card>

  <app-invite-block-view></app-invite-block-view>
</div>
