@import "tools";

.app-main-layout {
  position: relative;

  &__divider {
    width: 100%;
    height: 1px;
    background: $root-gray;
    opacity: .3;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    z-index: -1;

    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.75);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
