@import "tools";

.app-main-nav {
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $root-red;
    }
  }
}
